<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <link rel="stylesheet" href="../../../static/index/light7/dist/css/light7.min.css"/>
    <title>掌上建院-用户绑定</title>
</head>
<body>
<header class="bar bar-nav">
    <h1 class='title'>掌上建院-用户绑定</h1>
</header>
<div class="content">
    <div class="list-block">
        <ul>
            <!-- Text inputs -->
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">学号</div>
                        <div class="item-input">
                            <input type="text" placeholder="你的学号" id="student_id">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-password"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">密码</div>
                        <div class="item-input">
                            <input type="password" placeholder="你的密码" id="password">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-50"><a onclick="submitit()" class="button button-big button-fill button-success">确认</a></div>
            <div class="col-50"><a onclick="forget()" class="button button-big button-fill button-danger">忘记密码</a></div>
        </div>
        <br><br><br>
        <p style="text-align: center;font-size: smaller">
            Copyright © 新媒体工作室  技术支持<br><br>
            掌上建院  建院自主数字化服务系统引领者
        </p>
    </div>
</div>
<script>
    let n = 1;
    window.onload = function () {
        $.ajax({
            type: "post",
            url: 'getJwid',
            success: function (response) {
                if (response.code === 0) {
                    $.toast('您已绑定，无需重复绑定');
                    setTimeout(function () {
                        window.location.href="schedule";
                    },1000)
                } else {

                }
            },
            error: function (error) {
                $.alert('请检查网络')
            }
        })
    }
    function forget() {
        $.alert("忘记密码请与教务处联系！ 教务处地址：行政楼A109");
    }
    function insertBangding(student_id, password) {
        $.ajax({
            type: "post",
            url: 'insertToStudent',
            data: {'jwid':student_id, 'jwpwd': password},
            success: function (response) {
                if(response.code===0) {
                    $.toast('绑定成功');
                    setTimeout(function () {
                        window.location.href="schedule";
                    },1000)
                } else {
                   $.alert('写入数据库失败，请联系管理员')
                }
            },
            error: function (error) {
                $.alert(error);
            }
        })
    }
    function submitit(error = "") {
        let student_id = $("#student_id").val();
        let password = $("#password").val();
        student_id = student_id.trim();
        password = password.trim();
        if(student_id === "" || password ==="") {
            $.alert("学号密码不能为空！");
            return false;
        }
        if (student_id.length != 11) {
            $.alert('学号格式错误');
            return false;
        }
        $.showPreloader('第'+n+'次登陆教务系统中……<br>'+ (error ? '上次登陆错误：'+error : ""));
        n++
        let data =  {'studentId':student_id, 'password': password};
        let url = 'login'
        $.ajax({
            type: "post",
            url: url,
            data: data,
            success: function (response) {
                console.log(response);
                console.log(response.code);
                if(response.code===0) {
                    insertBangding(student_id, password)
                } else {
                    if(response.msg[1] === "密码错误，如忘记密码，请与教务处联系!"){
                        n = 0;
                        $.alert('密码错误，请确认密码！');
                    } else if (response.msg[1] === "用户名不存在或未按照要求参加教学活动！！") {
                        n = 0;
                        $.alert('学号错误或者您是新生<br>新生暂时不可用本系统！')
                    }
                    else{
                        submitit(response.msg[1]);
                    }
                }
            },
            error: function (error) {
                $.alert(error);
            }
        })
    }
</script>
<script type="text/javascript" src="../../../static/index/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../../static/index/light7/dist/js/light7.min.js" charset="utf-8"></script>
</body>
</html>